header {
    background-color: rgb(90, 93, 252);
}

div {
    text-align: center;
    img {
        height: 300px;
    }
}


fieldset {
    font-size: large;
    background-color: rgb(40, 171, 246);
    img {
        float: right;
        margin-right: 10%;
        height: 300px;
    }
}

footer {
    background-color: rgba(90, 93, 252, 0.732);
}