header {
    background-color: chocolate;
}

div {
    text-align: center;
    img {
    height: 300px;
}
}

form {
    margin-left: 10%;
}

fieldset {
    font-size: large;
    background-color: burlywood;
    img {
        float: right;
        margin-right: 10%;
        height: 150px;
    }
}